.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
  }
  
  .new-expense__control label {
    font-weight: bold;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    display: inline-block; 
    width: 250px; 
    text-align: right;
  }

  .new-expense__control label::after {
    content: "*";
    opacity: 0.8;
    color: rgb(246, 94, 94);
    margin-left: 0.1rem;
}
  
  .new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 230px;
    max-width: 100%;
  }
  
  .new-expense__actions {
    margin: 0 auto;
    margin-top: 1rem;
  }

  .form {
    padding-left: 3rem;
  }