.userpage {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: fit-content;
    /* background-image: url(../images/homepage_background.jpg); */
    /* background-size: cover; */
    padding-bottom: 2rem;
    text-align: center;
}

.inside_userpage {
    font: inherit;
    text-align: center; 
    padding-top: 2rem;
}

.userpage input {
    font: inherit;
    font-size: large;
    background-color: white;
    padding: 0.5rem;
    padding-left: 0;
    border: 1px;
    /* border-radius: 0 25px 25px 0 ; */
}

.userpage h3{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.inside_userpage h4 {
    font-size: small;   
    color: rgb(220, 219, 219); 
}

.userpage Button {
    /* font: inherit; */
    font-size: large;
    padding: 0.6rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

.userpage h2 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.options Button {
    padding: 1rem;
}

.sample {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    margin-bottom: 3rem;
}

.sample img {
    height: 30px;
    /* width: 100px; */
    margin-left: 1rem;
    transition: 100ms ease-in-out;
}

.sample img:hover {
    height: 40px;
    margin-left: 1rem;
}

.sample h4 {
    color:rgb(8, 63, 126);
    font-size: 15px;
}

.employeelist {
    margin: 4rem auto;
    /* margin-bottom: 5rem; */
    /* border: 5px solid white; */
    border-radius: 25px;
    background-color: #64ace0;
    width: 90%;
    min-height: 15rem;
    padding: 3rem 0;
}

.addemployee {
    display: block;
    width: 50%;
    text-align: center;
    height: auto;
    margin: 3rem auto;
    padding: 3rem;
    color: white;
    /* border: 5px solid white; */
    border-radius: 25px;
    background-color: #64ace0;
    /* box-shadow: 0px 3px 5px rgb(112, 112, 112); */
}

.addemployee Button {
    width: 10rem;
}

.addemployee Button:hover {
    background-color: #41a3e9;
}

.addemployee h3 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 2rem;
}

.individual{
    margin: 1rem 0;
    justify-content: space-around;
    text-align: center;
}

.individual label{
    margin-right: 0.7rem;
    display: inline-block;
    width: 150px;
    text-align: right;
}

.individual label::after {
    content: "*";
    opacity: 0.8;
    color: rgb(246, 94, 94);
    margin-left: 0.1rem;
}

.individual input {
    border-radius: 10px;
    padding-left: 0.8rem;
}