@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.wrap {
  height: auto;
  width: 100%;
  /* margin-top: -10px; */
  background-color: rgb(178, 197, 197);
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.tab {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  /* height: auto; */
  /* background-image: url(../images/homepage_background.jpg); */
  /* background-size: cover; */
  background-color: rgb(210, 210, 210);
  padding-bottom: 1rem;
  margin: 70px 200px;
  border: 1px;
  border-radius: 25px;
  box-shadow: 1px 1px 10px black;
}

.all_tab {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.tab_wrap {
  border: 1px;
  border-radius: 30px;
}
