.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  /* margin-top: -8px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  /* padding-bottom: 15px; */
  background-color: rgb(104, 152, 195);
  z-index: 2;
}

.header-image img {
  height: 75px;
  width: 250px;
  margin-left: 20px;
  margin-top: 8 px;
  /* margin-left: -115px; */
 
}
