.coursepage {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: 100vh;
    /* background-image: url(../images/homepage_background.jpg); */
    /* background-size: cover; */
    padding-bottom: 3rem;
    padding-top: 5rem;
    text-align: center;
}

.coursepage h1 {
    font-size: 50px;
    font-weight: bolder;
    color: rgb(85, 84, 84);
    margin-right: 22rem;
}

.box {
    display: flex;
    justify-content: center;
    height: 8rem;

}

.box Button {
    position: static;
    margin-right: -30rem;
    height: 3rem;
    margin-top: 3rem;
}

.close{
    position: relative;
    left: 5%;
    width: 90%;
    top: 90%;
    background-color: rgb(175, 14, 14);
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
    animation: slide-down 300ms ease-out forwards;

}
.close Button {
    align-items: center;
}