.dropdown-menu {
    min-width: 16.4rem;
    justify-content: center;
    margin: 0;
    padding: 0.8rem 0;
    padding-left: 1rem;
    text-align: left;
    background-color: rgb(248, 247, 247);
    /* padding: 1rem 0;  */
}

.btn-primary {
    color: rgb(10, 10, 10);
    background-color: rgba(255, 255, 255, 0);
    border: 1px;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #8db1eb;
}

.show>.btn-primary.dropdown-toggle{
    background-color: #007bff;
    border-radius: 10px;
}

.show>.btn-primary.dropdown-toggle:focus{
    box-shadow: 0 0 0;
}

.btn-primary:focus {
    box-shadow: 0 0 0;
}
