.passwordchange {
    padding: 1rem auto;
}

.line {
    border: 1.5px solid rgb(62, 62, 62);
    margin: 1rem 0.5rem;
}

.changePassword {
    margin: 1rem 0;
    justify-content: center;
    text-align: center;
}

.changePassword .input{
    height: 2rem;
    border: 1px solid black;
    border-radius: 10px;
}

.changePassword Button {
    padding: 0.3rem 0.5rem;
    /* font-size: small; */
    margin: 0.8rem auto;
    color: rgb(0, 0, 0);
    background-color: rgb(188, 191, 193);
}

.changePassword table {
    margin: auto;
}