@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

/* .employee {
  background-image: url('../images/bg1.jpg');
} */

.navbar {
    
    background-color: #6898c3;
    height: 80px;
    display: flex;
    justify-content:start;
    align-items: center;
    text-align: right;
  }
  
  .navbar .tagName{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    margin-top: 1%;
    margin-left: 60%;
  }

  .tagName{
    text-transform: capitalize;
    margin-right: 0.8rem;
  }
  
  .menu-bars {
    margin-left: 1rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    font-family: 'Montserrat', sans-serif;
    background-color: #5981a4;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: -2rem;
    transition: 350ms;
    z-index: 100;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  /* .logout{
    border-radius: 50%;
  } */
  
  .nav-text a:hover {
    background-color: rgb(98, 112, 141);
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #5981a4;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .below {
    height: 90vh;
    /* background-image: url('../images/login_2.jpg'); */
    background-size: cover;
  }

  .burger{
    /* z-index: 1000; */
    margin-top: 300px;
    background-color: aqua;
  }

  .overlay{
    position: relative;
    left: 5%;
    width: 90%;
    background-color: rgb(175, 14, 14);
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
    animation: slide-down 300ms ease-out forwards;

  }

  
  .avatar{
    background: none;
    background-color: #a45959;
    margin-right: 30px;
  }

  .avatar img{
    height: 40px;
    border-radius: 50%;
  }
