@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.forgotpassword{
  margin: 1rem 0;
}

.forgotpassword a{
  text-decoration: none;
  color: rgb(177, 177, 177);
  margin-top: 10rem;
  margin-left: 10rem;
}

.forgotpassword a:hover{
  color: rgb(139, 181, 244);
  transform: scale(1.1);
}

.close img{
  height: 3rem;
  width: 3rem;
}

.close Button {
  
  align-items: center;
  border: 1px;
  border-radius: 50%;
  font-size: 25px;
  width: 2rem;
  height: 2rem;
  padding: 0.1rem;
  margin-right: 1rem;
  float: right;
}

.close Button:hover{
  transform: scale(1.2);
  background-color: rgba(134, 205, 250, 0);
  color: #3886ca;
  font-size: 26.5px;
}