@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.courses ul{
    border: 1px solid white;
    border-radius: 10px;
    min-height: 23.8rem;
    height: fit-content;
    align-content: center;
    padding: 1rem;
    width: 25rem;
    margin: 1rem;
    background-color: white;
}


.courses {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 3rem;
    border: 3px;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    background-color: #8db1eb;
    box-shadow: 1px 1px 10px grey;
    
}

.page h3 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 8rem;
    margin-left: 30rem;
    color: rgb(66, 66, 66);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.page Button {
    margin: 1.5rem 0;
    width: 16rem;
}

.aa{
    /* border: 1px solid black; */
    width: 60%;
    height: 25.8rem;
    margin: 1rem;   
    background-image: url(../../images/iframe_bg.jpg);
    background-size: cover;
    border-radius: 10px;
}

.player {
    width: 99.5%;
    height: 410px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}



.cert {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-right: -1rem; */
    margin-bottom: 1.5rem;
}

.cert Button {
    margin-top: 7rem;
    margin-left: 12rem;
}